<%= form_for(@user, :url => (do_login_users_path if login)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, :class => 'user_field', :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, :class => 'user_field', :size => 30 %>
  </div>
  <% if !login then %>
    <div class="field">
      <%= label_tag 'Confirm password' %><br/>
      <%= password_field_tag 'confirm', nil, :class => 'user_field', :size => 30 %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit button_text, :class => 'action_button' %>
  </div>
<% end %>
