<div id="one_event">
<% name = (event.user || event.joke.user).name.capitalize %>
<% vote_text = event.yesno ? 'YES' : 'NO' %>
<% vote_class = event.yesno ? 'yes_vote' : 'no_vote' %>
<% joke_link = link_to('joke', joke_path(event.joke), :class => 'normal_link') if event.joke %>
<span class="event_time"><%= event.created_at.getlocal.strftime('%m/%d/%y %H:%M') %><br/></span>
<span class="event_user"><%= name %></span><%= ' ' %>
<% if event.yesno != nil %>
  <%= " voted " %><span class="<%= vote_class %>"><%= vote_text %></span> on a <span class="trigger" data-tooltip="#tip<%= event.joke.id %>" id="e<%= event.id %>_j<%= event.joke.id %>"><%= joke_link %></span>.
<% elsif event.withdraw %>
  <%= " withdrew their vote for a "%><span class="trigger" data-tooltip="#tip<%= event.joke.id %>" id="e<%= event.id %>_j<%= event.joke.id %>"><%= joke_link %></span>.
<% elsif !event.user_id %>
  <%= " added a " %><span class="trigger" data-tooltip="#tip<%= event.joke.id %>" id="e<%= event.id %>_j<%= event.joke.id %>"><%= joke_link %></span>.
<% elsif event.joke_id %>
  <%= " removed a joke." %>
<% elsif event.user_id %>
  <%= " has joined Joke In A Box!" %>
<% end %>
<% if event.joke %>
  <div class="event_joke_tooltip" id="tip<%= event.joke.id %>">
    <%= joke_link %>
  </div>
<% end %>
</div>
