<%= form_for(@joke) do |f| %>
  <% errs = (@event && @event.errors.any?) ? @event.errors : @joke.errors %>
  <% if errs.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(errs.count, "error") %> prohibited this joke from being saved:</h2>

      <ul>
      <% errs.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :class => 'new_joke_field', :title => 'Tell us a new joke, funny man!' %>
  </div>
  <div class="actions">
    <table><tr><td width="750px" align="right">
      <%= f.submit "Submit", :class => 'action_button' %>
     </td></tr></table>
  </div>
<% end %>
