<% u = session[:user] %>

<div id="jokes">
  <div class="new_joke">
    <div id="new_joke_div" class="new_joke" style="<%= u ? '' : 'display:none;' %>">
      <% @joke = Joke.new %>
      <%= render 'form' %>
    </div>
    <div id="login_to_tell_div" style="<%= u ? 'display:none;' : '' %>">
      <h2 class='indented'><%= "You gotta be logged in to tell us a joke, funny man!" %></h2>
    </div>
  </div>

  <div class="indented">
    <div class="tabbedPanels">
      <ul class="tabs">
        <li class="leftmost" id="top_jokes_tab">
          <%= link_to('Top Jokes', jokes_path+'?what=top') %>
        </li>
        <li id="my_jokes_tab" style="<%= u ? '' : 'display:none;' %>">
          <%= link_to('My Jokes', jokes_path+'?what=mine') %>
        </li>
        <li id="recent_jokes_tab">
          <%= link_to('Recent Jokes', jokes_path+'?what=recent') %>
        </li>
      </ul>

    <div class="panelContainer">
      <div class="panel">
        <% @jokes.each do |joke| %>
          <div class="joke_cell">
            <%= render :partial => 'one_joke', :locals => {:joke => joke, :u => u} %>
          </div>
        <% end %>
      </div>
  </div>
</div>
<div id="delete_confirm_popup" style="display:none">
  <table>
    <tr>
      <td>Aw, c'mon joker, give this joke a chance! Do you really want to delete this joke?</td>
    </tr>
    <tr>
      <td style="text-align:center">
        <input type="button" id="remove_yes" value="Yes, I Do!" class="delete_confirm_button">
        <input type="button" id="remove_no" value="No, I'll Give It A Chance" class="delete_confirm_button">
      </td>
    </tr>
  </table>
</div>
